/*---------------------- RESET ----------------------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*---------------------- COMMON ----------------------*/
body {
    font-family: Arial;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 102, 102);
}

#Campo {
    width: 700px;
    /* height: 700px; */
    background-color: rgba(194, 189, 189, 0.267);

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.cella {
    background-color: burlywood;
    width: 70px;
    height: 70px;
    border: 1px solid;
    padding: 5px;
}
.changeColor {
    background-color: coral;
}